.catalog {
  @include container(mobile, false) {
    padding: $mob-pad;
  }

  @include container(tablet, true) {
    padding: $tab-pad;
  }

  @include container(desktop, false) {
    padding: $desk-pad;
  }
}

.catalog__wrapper {
  @include breakpoint(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 70px;

    @media (max-width: 920px) {
      justify-content: space-between;
      margin-left: 0;
    }
  }

  @include breakpoint(desktop) {
    margin-left: -80px;
  }
}
