.diets {
  @include container(modile);

  @include breakpoint(tablet) {
    @include container(tablet)
      margin: 0 auto 50px;
  }
}

.diets__wrapper {
  display: flex;
  flex-direction: column;
}
