.diets {
  @include container(mobile, false) {
    padding: $mob-pad;
  }

  @include container(tablet, false) {
    padding: $tab-pad;
    margin: 0 auto 50px;
  }

  @include container(desktop, false) {
    padding: $desk-pad;
    margin-bottom: 80px;
  }
}

.diets__wrapper {
  display: flex;
  flex-direction: column;

  @include breakpoint(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}
