.example {
  background-color: $pc-neutral;
}

.example__wrapper {
  @include container(mobile, false) {
    padding: 20px 20px 0;
  }

  @include container(tablet, true) {
    padding: $tab-pad;
  }

  @include container(desktop, false) {
    padding: $desk-pad;
  }
}

.example__title {
  @include font-secondary(400, 36px, 60px);
  margin: 0;
  color: $tc-dark;

  @include breakpoint(tablet) {
    @include change-font-prop(0, 60px, 60px);
    margin-bottom: 62px;
  }
}

.example__text {
  padding-right: 10px;
  margin-bottom: 28px;
  max-width: 610px;
}

.example__info {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.example__item {
  flex-basis: 100%;
  text-align: center;
}

.example__info-inner {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.example__subitem {
  flex-basis: 124px;
}

.example__subitem span {
  display: block;
}

.example__value {
  @include font-secondary(400, 24px, 24px);
  text-transform: uppercase;
  padding: 18px 0;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #cdcdcd;
}

.example__description {
  @include font-base(12px, 12px);
  background-color: $pc-neutral;
  width: 87px;
  padding: 0 10px;
  margin: 0 auto;
  transform: translateY(-9px);
}

.example__item--cost {
  @include font-secondary(400, 14px, 20px);
  text-transform: uppercase;
}
