.footer {
  width: 100%;
  background-color: $pc-neutral;

  @include breakpoint(tablet) {
    padding: 35px 0;
  }
}

.footer__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @include container(tablet, true) {
    flex-direction: row;
    justify-content: space-between;
    padding: $tab-pad;

    @include change-font-prop(0, 16px, 16px);
  }

  @include container(desktop, false) {
    padding: $desk-pad;
  }
}

.footer__item {
  display: flex;
  justify-content: center;
  padding: 23px 20px 23px;
  flex-basis: 100%;

  @include breakpoint(tablet) {
    padding: 23px 0;
  }
}

.footer__item:not(:first-child) {
  @include shadow-border-top($pc-neutral-darkest);

  @include breakpoint(tablet) {
    box-shadow: none;
  }
}

.footer__logo {
  @include font-secondary(400, 27.4px, 28px);
  text-transform: uppercase;
  letter-spacing: 0.012em;
  color: $tc-dark;

  &:active {
    opacity: 0.6;
  }
}
