.menu {
  @include list-reset;
  @include font-secondary(500, 20px, 20px);
  text-transform: uppercase;
  text-align: center;

  @include breakpoint(tablet) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 18px;

    @include change-font-prop(400, 18px, 25px);
  }

  @include breakpoint(desktop) {
    @include change-font-prop(400, 20px, 25px);
    width: 480px;
  }
}

.menu__item:not(:last-child) {
  @include breakpoint(tablet) {
    margin-right: 35px;
  }
}

.menu__link {
  @include shadow-border-top;
  display: block;
  padding: 23px 20px 23px;
  color: $tc-dark;

  &[href]:active {
    opacity: 0.3;
  }

  @include breakpoint(tablet) {
    box-shadow: none;
    padding: 0 0 10px;
  }

  @include breakpoint(desktop) {
    &[href]:not(:active):hover,
    &[href]:not(:active):focus {
      opacity: 0.6;
    }
  }
}

.page--index .menu__link {
  @include breakpoint(desktop) {
    color: $tc-light;
  }
}

.menu__link--current {
  @include breakpoint(tablet) {
    @include shadow-border-bottom(-2px, $pc-accent);
  }
}

.page--index .menu__link--current {
  @include breakpoint(desktop) {
    @include shadow-border-bottom(-2px, $pc-base);
  }
}
