.header {
  @include breakpoint(tablet) {
    padding: 24px 0 0;
  }

  @include breakpoint(desktop) {
    padding: 54px 0 0;
    // width: 100%;
    background: linear-gradient(to right, $pc-base 50%, transparent 50%);
  }
}

.header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $pc-neutral-darkest;

  @include container(tablet, true) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: $tab-pad;
    border-bottom: none;
    max-width: 1100px;
  }

  @include container(desktop, false) {
    padding: $desk-pad;
    max-width: 1300px;
  }
}
