.header {
  @include breakpoint(tablet) {
    width: 768px;
    padding: 24px 0 0;
    margin: 0 auto;
  }

  @include breakpoint(desktop) {
    padding: 54px 0;
  }
}

.header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $pc-neutral-darkest;

  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 30px;
    margin: 0 auto;
    border-bottom: none;
  }
}
