.diet {
  position: relative;
  background-color: $pc-dark;
  padding: 30px 20px 17px;

  &--weight-reduce {
    margin-bottom: 20px;
  }

  @include breakpoint(tablet) {
    padding: 75px 0 58px 54px;

    &--weight-reduce {
      margin-bottom: 32px;
    }
  }

  @include breakpoint(desktop) {
    // width: 570px;
    width: calc(50% - 40px);
    padding: 75px 20px 55px 54px;
    margin-bottom: 0;
  }
}

.diet__title {
  @include font-secondary(400, 24px, 37px);
  text-transform: uppercase;
  color: $tc-dark;
  margin: 0 0 30px;
  padding-left: 70px;

  @include breakpoint(tablet) {
    padding-left: 0;
    margin-bottom: 25px;

    @include change-font-prop(0, 36px, 37px);
  }

  @include breakpoint(desktop) {
    margin-bottom: 75px;
    padding-left: 160px;
  }

  &::before {
    @include pseudo;
    top: 15px;

    @media (max-width: 767px) {
      left: 12px;
    }
    width: 70px;
    height: 70px;
    padding: 9px;
    border-radius: 50%;
    border: 1px solid transparent; // Устраняет баг IE11: без явного border background-clip не работает

    @include breakpoint(tablet) {
      @media (max-width: 1299px) {
        top: 55px;
        right: 27px;
      }
      width: 270px;
      height: 270px;
      padding: 35px;
    }

    @include breakpoint(desktop) {
      top: 27px;
      left: 32px;
      width: 140px;
      height: 140px;
      padding: 19px;
    }
  }
}

.diet--weight-reduce .diet__title::before {
  background-image: url("../img/icons-svg/icon-cat-slim.svg"), linear-gradient(to bottom, $pc-accent 50%, $pc-accent 50%);
  background-repeat: no-repeat;
  background-clip: padding-box, content-box;
  background-size: 35px 49px, cover;
  background-position: 50% 33%, 0 0;

  @include breakpoint(tablet) {
    background-size: 140px 194px, cover;
  }

  @include breakpoint(desktop) {
    background-size: 70px 97px, cover;
  }
}

.diet--weight-add .diet__title::before {
  background: url("../img/icons-svg/icon-cat-pro.svg") no-repeat, linear-gradient(to bottom, $pc-accent 50%, $pc-accent 50%) no-repeat;
  background-clip: padding-box, content-box;
  background-size: 67px 28px, cover;
  background-position: 10% 50%, 0 0;

  @include breakpoint(tablet) {
    background-size: 268px 112px, cover;
  }

  @include breakpoint(desktop) {
    background-size: 134px 56px, cover;
  }
}

.diet__text {
  @include shadow-border-bottom($color: $pc-neutral-darker);
  margin: 0 0 23px 0;
  padding: 0 38% 20px 0;

  @media (max-width: 470px) {
    padding: 0 0 20px 0;
  }

  @include breakpoint(tablet) {
    @include change-font-prop(0, 16px, 24px);
    margin: 0 0 56px 0;
    padding: 0 42% 0 0;
    box-shadow: none;
  }

  @include breakpoint(desktop) {
    padding: 0;
    margin-bottom: 30px;
  }
}

.diet--weight-add .diet__text {
  @include breakpoint(tablet) {
    padding-right: 48%;
  }

  @include breakpoint(desktop) {
    padding-right: 20px;
  }
}

.diet__link {
  @include font-secondary(400, 16px, 16px);
  position: relative;
  padding-right: 44px;
  text-transform: uppercase;
  color: $tc-dark;

  &::after {
    @include pseudo;
    top: 30%;
    right: 9px;
    width: 24px;
    height: 11px;
    background: url("../img/icons-svg/icon-right-arrow-verylong.svg") no-repeat;
    background-size: 33px 11px;
    background-position: right center;
    transition: all 0.3s ease;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    right: 0;
    width: 33px;
  }

  @include breakpoint(tablet) {
    &::after {
      top: 33%;
    }

    @include change-font-prop(0, 20px, 20px);
    padding-right: 57px;
  }

  @include breakpoint(desktop) {
    &:hover::after,
    &:focus::after {
      right: 0;
      width: 33px;
    }
  }
}
