.promo {
  @include font-secondary(400, 14px, 14px);
  text-align: center;
  color: $tc-light;
  background-image: url("../img/bg-image/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #64a83b 88px, #65a93c 98px, #65a93c 250px, #66aa3d 260px, #66aa3d 305px, transparent 305px), linear-gradient(to bottom, #63a73a 305px, transparent 305px);
  background-repeat: no-repeat;
  background-position: center top, 0 top, 0 0;
  background-size: 320px 305px, 50% 305px, 100% 100%;

  @include resolution {
    background-image: url("../img/bg-image/index-background-mobile@2x.jpg"), linear-gradient(to bottom, #64a83b 88px, #65a93c 98px, #65a93c 250px, #66aa3d 260px, #66aa3d 305px, transparent 305px), linear-gradient(to bottom, #63a73a 305px, transparent 305px);
  }

  @include breakpoint(tablet) {
    @include font-secondary(400, 20px, 20px);
    color: $tc-dark;
    background-color: $pc-base;
    background-image: none;
  }

  @include breakpoint(desktop) {
    padding-top: 0;
    background: linear-gradient(to right, $pc-base 50%, transparent 50%);
  }
}

.promo__container {
  @include container(26px 20px 20px, 58px 30px 0, 32px 40px 0);

  @include breakpoint(tablet) {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  @include breakpoint(desktop) {
    flex-direction: row;
    min-height: 664px;
  }
}

.promo__description {
  min-height: 120px;
  margin-bottom: 20px;

  @include breakpoint(tablet) {
    max-width: 420px;
    text-align: left;
    margin-left: 88px;
  }

  @include breakpoint(desktop) {
    padding-top: 78px;
    margin: 0 0 0 80px;
  }
}

.promo__title {
  @include large-heading(36px, false, false);
  margin: 0 0 26px;

  @include breakpoint(tablet) {
    margin: 0 0 41px;
  }
}

.promo__text {
  text-transform: uppercase;
  margin: 0;

  @include breakpoint(tablet) {
    @include change-font-prop(400, 20px, 20px);
  }
}

.promo__image {
  width: 280px;
  height: 270px;

  @media (max-width: 767px) {
    margin-bottom: 4px;
  }

  @include breakpoint(tablet) {
    width: 709px;
    height: 609px;
  }

  @include breakpoint(desktop) {
    position: absolute;
    top: 28px;
    right: 258px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  @include breakpoint(tablet) {
    position: absolute;
    top: 288px;
    max-width: 245px;
    margin: 0 0 45px 90px;
  }

  @include breakpoint(desktop) {
    position: absolute;
    top: 344px;
    left: 120px;
    margin: 0;
  }
}
