.product {
  @include shadow-border-bottom($color: $pc-neutral-darkest);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 24px;
  flex-basis: 100%;

  @include breakpoint(tablet) {
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 55px;
    padding: 0 38px 40px;
    flex-basis: 245px;
    margin-left: calc((100% - 245px * 3) / 2);

    @media (max-width: 920px) {
      flex-basis: 324px;
      margin-left: 0;
    }
    box-shadow: none;
    background-color: $pc-neutral;
  }

  @include breakpoint(desktop) {
    margin-left: 80px;
    flex-basis: 245px;
  }

  &--show-all {
    padding-top: 80px;
    background: url("../img/icons-svg/icon-plus-mobile2.svg") no-repeat;
    background-position: center 25px;
    background-size: 30px 30px;

    @include breakpoint(tablet) {
      padding: 0 30px 40px;
      padding-top: 180px;
      background: url("../img/icons-svg/icon-plus.svg") no-repeat;
      background-position: center 80px;
      background-size: 60px 60px;
      border: 1px solid $pc-neutral-darkest;
    }
  }
}

.product:nth-child(3n+1) {
  @include breakpoint(tablet) {
    margin-left: 0;
  }

  @include breakpoint(desktop) {
    margin-left: 80px;
  }
}

.product__description {
  order: 2;
  width: calc(100% - 140px);

  @media (min-width: 500px) and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 50px;
  }

  @include breakpoint(tablet) {
    width: 100%;
    margin-bottom: 32px;
  }

  &--show-all {
    width: 100%;
    text-align: center;

    @include breakpoint(tablet) {
      margin-bottom: 90px;
    }
  }
}

.product__title {
  @include font-secondary(400, 16px, 20px);
  text-transform: uppercase;
  color: $tc-dark;
  width: 80px;

  @media (min-width: 500px) {
    margin-top: 0;
    margin-right: auto;
  }
  margin-bottom: 13px;

  @include breakpoint(tablet) {
    @include change-font-prop(0, 20px, 20px);
    text-align: center;
    padding: 0;
    width: 140px;
    margin: 0 auto 25px;
  }

  &--show-all {
    flex-basis: 100%;
    padding-right: 0;

    @include breakpoint(tablet) {
      padding: 0;
      max-width: 160px;
      min-width: 160px;
    }

    @include breakpoint(desktop) {
      padding: 0 10px;
    }
  }
}

.product__text {
  @include font-base(12px, 16px);

  @include breakpoint(tablet) {
    @include change-font-prop(0, 16px, 22px);
    // padding: 0 30px;
    width: 180px;
    margin: 0 auto;
  }
}

.product__image {
  width: 140px;
  height: auto;
  order: 1;

  @include breakpoint(tablet) {
    margin-bottom: 34px;
  }
}

.product__button {
  order: 3;
}
