.product {
  @include shadow-border-bottom($color: $pc-neutral-darkest);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 24px;
  flex-basis: 100%;
  background: $pc-base;

  @include breakpoint(tablet) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-bottom: 55px;
    padding: 0 0 40px;
    flex-basis: 270px;
    margin-left: calc((100% - 270px * 3) / 2);

    @media (max-width: 920px) {
      flex-basis: 324px;
      margin-left: 0;
    }
    box-shadow: none;
    background: linear-gradient(to top, $pc-neutral 431px, transparent 431px);
  }

  @include breakpoint(desktop) {
    margin-left: 80px;
    max-width: 245px;
  }

  &--show-all {
    background: $pc-base;

    @include breakpoint(tablet) {
      padding: 0;
    }
  }
}

.product:nth-child(3n+1) {
  @include breakpoint(tablet) {
    @media (max-width: 1299px) {
      margin-left: 0;
    }
  }
}

.product__description {
  order: 2;
  width: calc(100% - 140px);

  @media (min-width: 500px) and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 50px;
  }

  @include breakpoint(tablet) {
    width: 100%;
    padding: 0 38px 33px;
  }

  &--show-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    width: 100%;
    text-align: center;
    background: url("../img/icons-svg/icon-plus-mobile2.svg") no-repeat;
    background-position: center 25px;
    background-size: 30px 30px;

    @include breakpoint(tablet) {
      padding-top: 157px;
      padding-bottom: 40px;
      align-items: flex-end;
      background: url("../img/icons-svg/icon-plus.svg") no-repeat;
      background-position: center 48px;
      background-size: 60px 60px;

      @include shadow-border;
    }
  }
}

.product__title {
  @include font-secondary(400, 16px, 20px);
  text-transform: uppercase;
  color: $tc-dark;
  width: 80px;

  @media (min-width: 500px) {
    margin-top: 0;
    margin-right: auto;
  }
  margin-bottom: 13px;

  @include breakpoint(tablet) {
    @include change-font-prop(0, 20px, 20px);
    text-align: center;
    padding: 0;
    width: 140px;
    margin: 0 auto 20px;
  }

  &--show-all {
    flex-basis: 100%;
    margin: 0;

    @include breakpoint(tablet) {
      max-width: 160px;
    }

    @include breakpoint(desktop) {
      padding: 0 10px;
    }
  }
}

.product__text {
  @include font-base(12px, 16px);
  padding: 2px 0 8px;

  @include breakpoint(tablet) {
    @include change-font-prop(0, 16px, 22px);
    padding: 25px 0 0;
    width: 180px;
    margin: 0 auto;
  }

  &--show-all {
    @include breakpoint(tablet) {
      margin-bottom: 85px;
    }
  }
}

.product__image {
  display: flex;
  // width: 140px;
  order: 1;

  @include breakpoint(tablet) {
    // width: 100%;
    margin-bottom: 30px;
  }
}

.product__image img {
  max-width: 140px;

  @include breakpoint(tablet) {
    max-width: 100%;
    height: auto;
  }
}

.product__button {
  order: 3;

  @include breakpoint(tablet) {
    max-width: calc(100% - 76px);
  }
}

.product--show-all .product__button {
  @include breakpoint(tablet) {
    max-width: 100%;
  }
}
