html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font-base;
  min-width: 320px;
  padding: 0;
  color: $palette-text-base;
  background-color: $palette-base;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
