/* stylelint-disable */

// Типографика
@mixin font-base($size: 14px, $line-height: 18px) {
  font: 400 #{$size}/#{$line-height} Arial, sans-serif;
}

@mixin font-secondary($weight: 400, $size: 16px, $line-height: 20px) {
  font: $weight #{$size}/#{$line-height} Oswald, Arial, sans-serif;
}

// Изменить некоторые свойства текста
@mixin f-size($fsz) {
  @if $fsz != 0 {font-size: $fsz;}
}

@mixin f-weight($fwt) {
  @if $fwt != 0 {font-weight: $fwt;}
}

@mixin l-height($lht) {
  @if $lht != 0 {line-height: $lht;}
}

@mixin change-font-prop($fwt, $fsz, $lht) {
  @include f-weight($fwt);
  @include f-size($fsz);
  @include l-height($lht);
}

// Сброс стилей списков
@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Центровщик
/* @mixin container($point) {
  @if $point == mobile {
    width: auto;
    padding: 0 20px;
  }
  @else if $point == tablet {
    width: 768px;
    padding: 0 30px;
  }
  @else if $point == desktop {
    width: 1300px;
    padding: 0 40px;
  }
} */

/* @mixin container($point) {
  @if $point == mobile {
    width: 100%;
    padding: 0 20px;
  }
  @else if $point == tablet {
    @media (min-width: 768px) {
      width: 768px;
      padding: 0 30px;
      margin: 0 auto;
      @content;
    }
  }
  @else if $point == desktop {
    @media (min-width: 1300px) {
      width: 1300px;
      padding: 0 40px;
      @content;
    }
  }
} */

/* @mixin container($point, $auto, $mrt: 0, $mrb: 0) {
  @if $point == mobile {
    width: 100%;
    padding: 0 20px;
    @content;
  }
  @else if $point == tablet {
    @media (min-width: 768px) {
      width: 768px;
      padding: 0 30px;
      @if $auto == true and ($mrt != 0 or $mrb != 0) {
        margin: $mrt auto $mrb;
      }
      @else if $auto == true {
        margin: 0 auto;
      }
      @content;
    }
  }
  @else if $point == desktop {
    @media (min-width: 1300px) {
      width: 1300px;
      padding: 0 40px;
      @if $auto == true and ($mrt != 0 or $mrb != 0) {
        margin: $mrt auto $mrb;
      }
      @else if $auto == true {
        margin: 0 auto;
      }
      @content;
    }
  }
} */

@mixin container($point, $mrn) {
  @if $point == mobile {
    width: 100%;
    @content;
  }
  @else if $point == tablet {
    @media (min-width: 768px) {
      max-width: 1100px;
      @if $mrn == true {
        margin: 0 auto;
      }
      @content;
    }
  }
  @else if $point == desktop {
    @media (min-width: 1300px) {
      max-width: 1300px;
      @if $mrn == true {
        margin: 0 auto;
      }
      @content;
    }
  }
}

// Обводка блоков
// Сверху
@mixin shadow-border-top($color: #d9d9d9) {
  box-shadow: inset 0 1px 0 0 $color;
}

// Снизу
@mixin shadow-border-bottom($y: -1px, $color: #d9d9d9) {
  box-shadow: inset 0 $y 0 0 $color;
}

// Псевдоэлементы
@mixin pseudo($content: '', $display: block, $pos: absolute) {
    content: $content;
    display: $display;
    position: $pos;
}

// Брейкпоинты
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1300px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == mobile {
    @media (min-width: 320px)  { @content; }
  }
}

// Брейкпоинты диапазон
@mixin breakpoint-range($point-min, $point-max) {
  @media (min-width: $point-min) {
    @media (max-width: $point-max) {
      @content;
    }
  }
}
