/* stylelint-disable */

// Типографика
// Arial
@mixin font-base($size: 14px, $line-height: 18px) {
  font: 400 #{$size}/#{$line-height} "Arial", sans-serif;
}

// Oswald
@mixin font-secondary($weight: 400, $size: 16px, $line-height: 20px) {
  font: $weight #{$size}/#{$line-height} "Oswald", "Arial", sans-serif;
}

// Крупный заголовок
@mixin large-heading($lht: 60px, $color: true, $ff: true) {
  @if $ff != true {
    font-weight: 400;
    font-size: 36px;
    line-height: $lht;
  } @else {
    font: 400 36px/#{$lht} "Oswald", "Arial", sans-serif;
  }

  @if $color == true {
    color: $tc-dark;
  }

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

// Маленький заголовок
@mixin small-heading($lht: 24px, $color: true, $ff: true) {
  @if $ff != true {
    font-weight: 400;
    font-size: 24px;
    line-height: $lht;
  } @else {
    font: 400 24px/#{$lht} "Oswald", "Arial", sans-serif;
  }

  @if $color == true {
    color: $tc-dark;
  }

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}

// Изменить некоторые свойства текста
@mixin f-size($fsz) {
  @if $fsz != 0 {font-size: $fsz;}
}

@mixin f-weight($fwt) {
  @if $fwt != 0 {font-weight: $fwt;}
}

@mixin l-height($lht) {
  @if $lht != 0 {line-height: $lht;}
}

@mixin change-font-prop($fwt, $fsz, $lht) {
  @include f-weight($fwt);
  @include f-size($fsz);
  @include l-height($lht);
}

// Сброс стилей списков
@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Центровщик
@mixin container($mobpad: 0 20px, $tabpad: 0 30px, $deskpad: 0 40px, $auto: true) {
  width: 100%;
  padding: $mobpad;

  @media (min-width: 768px) {
    max-width: 1100px;
    padding: $tabpad;

    @if $auto == true {
      margin: 0 auto;
    }
  }

  @media (min-width: 1300px) {
    max-width: 1300px;
    padding: $deskpad;
  }
}

// Обводка блоков
// Сверху
@mixin shadow-border-top($y: 1px, $color: $pc-neutral) {
  box-shadow: inset 0 $y 0 0 $color;
}

// Снизу
@mixin shadow-border-bottom($y: -1px, $color: $pc-neutral) {
  box-shadow: inset 0 $y 0 0 $color;
}

// Со всех сторон
@mixin shadow-border($y: 1px, $color: $pc-neutral) {
  box-shadow: inset 0 0 0 $y $color;
}

// Псевдоэлементы
@mixin pseudo($content: "", $display: block, $pos: absolute) {
    content: $content;
    display: $display;
    position: $pos;
}

// Брейкпоинты
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1300px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == mobile {
    @media (min-width: 320px)  { @content; }
  }
}

// Брейкпоинты диапазон
@mixin breakpoint-range($point-min, $point-max) {
  @media (min-width: $point-min) {
    @media (max-width: $point-max) {
      @content;
    }
  }
}

// Retina
@mixin resolution {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
