// Внутренние переменные ($variable-inner -> $vi)
$vi-color-white: #ffffff;
$vi-color-green: #68b738;
$vi-color-gray: #f2f2f2;
$vi-color-black-medium: #444444;
$vi-color-black-ultra: #111111;
$vi-color-light-gray: #e6e6e6;

// Глобальные переменные

// Цветовая палитра сайта ($palette)
$palette-base: $vi-color-white;
$palette-accent: $vi-color-green;
$palette-accent-secondary: $vi-color-gray;
$palette-text-base: $vi-color-black-medium;
$palette-text-secondary: $vi-color-black-ultra;
// $palette-additional: $vi-color-light-gray;
