.button {
  @include font-secondary(400, 14px, 18px);
  color: $palette-base;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  background-color: $palette-accent;
  padding: 12px 22px 10px;
}

.button--faded {
  background-color: $palette-accent-secondary;
  color: $palette-text-base;
}
