.logo {
  display: flex;
  align-items: center;
  padding: 11px 51px 16px 20px;

  @include breakpoint(tablet) {
    width: 185px;
    padding: 0;

    // Временно для наглядности
    &::before {
      @include pseudo($pos: static);
      width: 173px;
      height: 58px;
      background: url("../img/header/logo-tablet.svg") no-repeat;
    }
  }

  @include breakpoint(desktop) {
    width: 202px;

    // Временно для наглядности
    &::before {
      @include pseudo($pos: static);
      width: 202px;
      height: 59px;
      background: url("../img/header/logo-desktop.svg") no-repeat;
    }
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.logo__item--image {
  display: flex;
  width: 33px;
  height: 38px;

  // Временно для наглядности
  @include breakpoint(tablet) {
    display: none;
  }
}

.logo__item--title {
  @include font-secondary(400, 22px, 22px);
  display: block;
  margin: 0 auto;
  padding-top: 3px;
  color: $tc-dark;
  text-transform: uppercase;
  letter-spacing: 0.012em;

  @include breakpoint(tablet) {
    display: none;
  }
}
