.page-title {
  @include font-secondary(400, 36px, 60px);
  @include shadow-border-bottom($color: $pc-neutral-darkest);
  text-align: left;
  color: $tc-dark;
  padding: 0 20px 30px;
  margin: 0;

  @include breakpoint(tablet) {
    @include change-font-prop(0, 60px, 0);
    padding: 0 30px;
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: none;
  }

  @include breakpoint(desktop) {
    padding: 0 40px;
    max-width: 1300px;
  }
}
