.social {
  display: flex;
  align-self: center;
  align-items: center;
}

.social__link {
  display: flex;

  &:not(:last-child) {
  margin-right: 38px;
}
}

.social__link--vk {
  width: 22px;
  height: 12px;
  background: url(../../img/icons-svg/icon-vk-mobile.svg) no-repeat;
}

.social__link--insta {
  width: 16px;
  height: 16px;
  background: url(../../img/icons-svg/icon-insta-mobile.svg) no-repeat;
}

.social__link--fb {
  width: 10px;
  height: 19px;
  background: url(../../img/icons-svg/icon-fb-mobile.svg) no-repeat;
}
